<div class="row mt-1">
  <div class="col-12">
    <h1>Tournaments</h1>
  </div>
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start date</th>
        </tr>
      </thead>
      <tbody>
        <% @tournaments.each do |tournament| %>
          <tr>
            <td><%= link_to tournament.name, tournament_path(tournament.id) %></td>
            <td><%= tournament.started_at.strftime('%m/%d %H:%M') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
