<%= link_to 'Create Deck', new_deck_path %>
<table>
  <thead>
    <tr>
      <th>Tournament name:</th>
      <th>Started at:</th>
    </tr>
  </thead>
  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.name, tournament_path(tournament.id) %></td>
        <td><%= tournament.started_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
