<div class="row">
  <div class="col-12">
    <h1>My decks</h1>
  </div>

  <div class="col-12">
    <%= link_to 'New deck', new_deck_path, class: 'btn btn-primary' %>
  </div>

  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @decks.each do |deck| %>
          <tr>
            <td>
              <%= link_to deck.name, deck %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
